!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => link_to("/style.css")}
    %title Notable
  %body
    #container
      #doc
        %h1 Notes
        %ul
          - @notes.each do |note|
            %li= format_note(note)
