!!! XML
%rss{:version => '2.0'}
  %channel
    %title Notable
    %link= uri('/')
    %description Things that have been noted
    %image{'title' => 'notable', 'url' => uri('/feed_edit.png'), 'link' => uri('/')}/
    - @notes.each do |note|
      %item
        %title&= note.body
        %description&= note.html_body
        %pubDate= note.created_at.new_offset.strftime('%a, %d %b %Y %H:%M:%S GMT')

