!!! XML
%rss{:version => '2.0'}
  %channel
    %title Notable
    %link= absolute_url
    %description Things that have been noted
    %image{'title' => 'notable', 'url' => link_to('/feed_edit.png'), 'link' => absolute_url }/
    - @notes.each do |note|
      %item
        %title&= note.body
        %description&= note.body
        %pubDate= note.created_at.new_offset.strftime('%a, %d %b %Y %H:%M:%S GMT')

