@import url("http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css");
html {
  font-size: 62.5%;
  font-family: "Tahoma";
}
body {
  background-color: #333;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
#doc {
  background-color: #ddd;
  bottom: 0;
  top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
#container {
  margin-left: auto;
  margin-right: auto;
  min-width: 750px;
  width: 59.97em;
}
ul {
  margin: 20px 20px 20px 20px;
}
li {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}
em {
  font-style: italic;
  color: #fff;
}
h1 {
  font-size: 3em;
}
